[submodule "user/packages/org-books"]
	path = user/packages/org-books
	url = https://github.com/alphapapa/org-books.git
[submodule "org-krita"]
	path = user/packages/org-krita
	url = https://github.com/lepisma/org-krita.git
