# Compiled
*.elc

# Backup files
*~

# Specific files
emacs.el
ac-comphist.dat
projectile-booksmarks.eld
.org-id-locations
*.original
bookmarks
recentf
url
places
user/custom.el
session*

# Directories
elpa/
auto-save-list/
transient/

